box-sizing: border-box;

html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Playfair Display", serif;
}

a {
  color: #000;
}

.Page {
  background: #fafafa;
}
