// global styles
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// variables

$light-gray: #fafafa;
$dark-gray: #808080;
$button-background: #00c6ff;
$button-font: #fafafa;

// header styles

.header-container {
  padding: 8px 0 16px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.header-container__logo,
.header-container__text {
  margin: 0 8px;
}

// main feature styling

.dog-breed-selector__container {
  height: 100vh;
  background-color: $light-gray;
  display: flex;
  justify-content: center;
  align-content: center;
}

.dog-breed-selector-container__header {
  font-size: 32px;
  font-weight: 700;
}

.dog-breed-selector__dropdown,
.dog-breed-selector__button {
  display: block;
  margin: 8px;
}

.dog-breed-selector__button {
  background-color: $button-background;
  color: $button-font;
  border-radius: 5px;
  padding: 16px 8px;
  border: none;
  box-shadow: 0 3px 10px $dark-gray;
}
